/* Fixed header */
header {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(7, 139, 179);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Logo */
header h1 {
  color: #f8f9fa;
  font-size: 2rem;
  margin: 0;
}

/* Navigation Buttons */
header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #0b9bc2;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 999px; ;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

header nav a:hover {
  background-color: #6aadfa;
  color: #fff;
}

header nav a.active {
  background-color: #94c0f3;
  color: #000000;
}

/* Hamburger button */
.menu-toggle {
  display: none;
  font-size: 1rem;
  background: #7dbaff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: none;
  }

  header nav.open {
    display: flex;
  }

  header nav a {
    margin: 0.5rem 0;
    background-color: #078bb3;
    color: #fff;
    width: 100%;
  }

  header nav a:hover {
    background-color: #6aadfa;
  }
}

.logo {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8; /* Slight hover effect */
}
